{% extends 'header.html' %}
{% block content %}

<div class="container">
    <style type="text/css">
        h2{text-align: center; font-size: 30px;}
    </style>
    <h2><br>{{titles}}</br></h2>
    <!--Formulário-->
    <form method="POST" action="">
        <div class="input-group" style="padding: 30px; width: 40%; margin: 0 auto">
          <div class="input-group">
            {{ form.csrf_token }}
            {{ form.ano(class_="custom-select")}}<div class="input-group-append">
            <button class="btn btn-primary" type="submit" style="margin-left: 15px; border:1px solid #191970; border-radius:4px;">Buscar</button>
              <button type="button" class="btn btn-link">   </button>
          </div>
            <a><input class="btn btn-danger" type="reset" value="Limpar Filtros" onClick="limpa()" style="border:1px solid #B22222; border-radius:4px;"></a>
        </div>
        </div>
    </form>

<!--Tabela-->
{{ pagination.info }}
{{ pagination.links }}
<div class="table-responsive table table-striped">
    <table class="table table-hover">
        {{ tables|safe }}
    </table>
</div>
{{ pagination.links }}

    <div class="card">
        <div class="card-header" style="text-align: center">
          <b> Ações desenvolvidas para concretização do direito constitucional à informação </b>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0" style="text-align: justify">
            <p> Criada em 2006, a Ouvidoria-Geral do Ministério Público tem procurado desde a sua fundação agregar valores a seu trabalho para atender  melhor o cidadão.

Ao longo desses anos a Ouvidoria ganhou infraestrutura material e funcional e em 2014 passou a ter mais uma ferramenta de atendimento por meio de seu sistema informatizado disponibilizado no site do Ministério Público, o que propiciou maior facilidade ao usuário, pois as demandas de acesso à informação agora podem  ser encaminhadas à Ouvidoria por meio de formulário eletrônico, que propicia também a consulta de sua tramitação e obtenção de  resposta por meio eletrônico. <br>

Em 2014, a Ouvidoria-Geral também confeccionou duas cartilhas amplamente divulgadas e distribuídas, intituladas “Ouvidoria: Um instrumento de Cidadania” e “Ouvidoria: Acesso a Informação e Controle Social”, as quais trazem orientações acerca do funcionamento da ouvidoria e sobre a Lei de Acesso a Informação. <br>
<br>
                Download: "Ouvidoria: Acesso a Informação e Controle Social" <br>
                Download: "Ouvidoria: Um instrumento de Cidadania" <br>

            </p>
          </blockquote>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          Unidade responsável pelas informações: Ouvidoria
        </div>
      </div>

</div>
{% endblock %}
