{% extends 'header.html' %}
{% block content %}

<div class="container">
    <style type="text/css">
        h2{text-align: center; font-size: 30px;}
    </style>
    <h2><br>{{titles}}</br></h2>
    <!--Formulário-->
    <form method="POST" action="">
        <div class="input-group" style="padding: 30px; width: 50%; margin: 0 auto">
          <div class="input-group">
              {{ form.csrf_token }}
            {{ form.mes(class_="custom-select")}}<div class="input-group-append">
            {{ form.ano(class_="custom-select")}}<div class="input-group-append">
                </div>
                </div>
          </div>
            <input class="form-control" type="text" name="N"  placeholder="Número do contrato">  <div class="input-group-append">
                </div>
            <div>
            <button class="btn btn-primary" type="submit" style="margin-left: 15px; border:1px solid #191970; border-radius:4px;">Buscar</button>
                <button type="button" class="btn btn-link">   </button>
            </div>
              <a><input class="btn btn-danger" type="reset" value="Limpar Filtros" onClick="limpa()" style="border:1px solid #B22222; border-radius:4px;"></a>
        </div>
    </form>
</div>
<!--Tabela-->
{{ pagination.info }}
{{ pagination.links }}
<div class="table table-sm table-responsive table table-striped">
    <table class="table table-hover">
        {{ tables|safe }}
    </table>
</div>
{{ pagination.links }}

<p>
  <div class="row">
    <div class="col-sm" style="margin:5px 0px 0px 5px; padding-right:0px;">
      <div class="card">
        <style type="text/css">
          div.card-body{text-align: justify;}
        </style>
        <div class="card-body" style="padding-bottom: 143px; padding-top: 142px;">
            <b> (a) </b> Empresa Contratada - Nome da empresa contratada e o número do CNPJ.<br>
            <b> (b) </b> Nº do Contrato - Número do contrato relacionado.<br>
            <b> (c) </b> Nome - Nome completo do funcionário da empresa.<br>
            <b> (d) </b> Data de Publicação - Data de publicação nos meios de informações devidos (exemplo: Diário Oficial, jornais de grande circulação).CPF - Número do CPF do funcionário com os 3 primeiros dígitos e os 2 últimos dígitos ocultos (exemplo: ***.456.789 - **).<br>
            <b> (e) </b> Cargo/Atividade Exercida - Cargo ou atividade desenvolvida pelo funcionário.<br>
            <b> (f) </b> Unidade Administrativa - Nome da unidade administrativa em que o funcionário desempenha suas atividades.<br>
          </div>
        </div>
      </div>
    
      <div class="col-sm-4" style="margin-top:4px; margin-bottom:1px;">
        <div class="card" >
          <div class="card-body">
          <style type="text/css">
              h3{text-align: center; font-size:28px;}
          </style>
          <h3>Prestadores de Serviço - Anos {{Ano-1}} e {{Ano}}</h3>
          <canvas id="chart" width="700" height="477"></canvas>   
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>
          var anoatual = JSON.parse('{{lista_ano_atual}}');
          var anoanterior = JSON.parse('{{lista_ano_anterior}}');
          var chartOne = {
            type: 'bar',
            data: {
              labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
              fontSize: "30",
              datasets: [
                {
                  label: 'Ano Anterior',
                  fontSize: "18",
                  backgroundColor: "#a91a27",
                  data: anoanterior,
                  fill: false,
                },
                {
                  label: 'Ano Atual',
                  fontSize: "18",
                  backgroundColor: "#1e325c",
                  data: anoatual,
                  fill: false,
                },
              ],
            },
            options: {
              responsive: true,
              tooltips: {
                mode: 'nearest',
                interesect: true,
              },
              scales: {
                xAxes: [
                  {
                    display: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'Mês',
                      fontSize: "15"
                    },
                  },
                ],
                yAxes: [
                  {
                    display: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'Quantidade',
                      fontSize: "15"
                    },
                  },
                ],
              },
            },
          };
          var ctxOne = document.getElementById('chart').getContext('2d');
          new Chart(ctxOne, chartOne);
        </script>
          </div>
        </div>
      </div>
    </div>

      <div class="card">
        <div class="card-header" style="font-size:18px;">
          <b>FUNDAMENTO LEGAL</b>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0" style="font-size:16px;">
            <p>Resolução CNMP n° 86/2012, art. 5°, inciso II, alínea “n”.</p>
          </blockquote>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          Fonte da informação: Atividade de Licitações e Contratos
        </div>
      </div>
</font>
</p>

{% endblock %}
