{% extends 'header.html' %}
{% block content %}

<div class="container">
    <style type="text/css">
        h2{text-align: center; font-size: 30px;}
    </style>
    <h2><br>{{titles}} - Ano {{Ano}}</br></h2>
    <!--Formulário-->
    <form method="POST" action="">
        <div class="input-group" style="padding: 30px; width: 50%; margin: 0 auto">
          <div class="input-group">
            {{ form.csrf_token }}
            {{ form.mes(class_="custom-select")}}<div class="input-group-append">
            {{ form.ano(class_="custom-select")}}<div class="input-group-append">
             <button class="btn btn-primary" type="submit" style="margin-left: 15px; border:1px solid #191970; border-radius:4px;">Buscar</button>
              <button type="button" class="btn btn-link">   </button>
          </div>
          </div>
            <a><input class="btn btn-danger" type="reset" value="Limpar Filtros" onClick="limpa()" style="border:1px solid #B22222; border-radius:4px;"></a>
          </div>
        </div>
    </form>
</div>
<!--Tabela-->
{{ pagination.info }}
{{ pagination.links }}
<div class="table table-sm table-responsive table table-striped">
    <table class="table table-hover">
        {{ tables|safe }}
    </table>
</div>
{{ pagination.links }}

<p>
<div class="row">
  <div class="col-sm" style="margin:5px 0px 0px 5px; padding-right:0px;">
    <div class="card">
        <style type="text/css">
          div.card-body{text-align: justify;}
        </style>
        <div class="card-body">
            <b> (a) </b> Objeto - Detalhar a origem do recolhimento (exemplo: orçamento, arrecadação oriunda de inscrição em concurso público, alienação de bens, entre outros).<br>
            <b> (b) </b> Valores Previstos - Para o crédito orçamentário, a previsão é o valor total aprovado na Lei Orçamentária Anual somados aos eventuais créditos adicionais. Para as receitas próprias, os valores previstos são aqueles estimados pelo órgão.<br>
            <b> (c) </b> Valores Recebidos - Para o crédito orçamentário, trata-se dos valores financeiros efetivamente liberados/disponibilizados pelo Poder Executivo aos órgãos do Ministério Público. Isto é, a descentralização de créditos para que os órgãos possam executar a despesa ou o cumprimento efetivo do cronograma mensal de desembolso. Não deve ser confundido com a descentralização interna (provisão) entre diversas unidades gestoras de um mesmo órgão. Em relação às receitas próprias, trata-se dos valores arrecadados mês a mês, por regime de caixa, ou seja, considerando-se efetivamente a entrada na conta bancária do órgão.<br>
            <b> (d) </b> Crédito Orçamentário Liberado/Cota Financeira Liberada - A partir do valor total previsto pela Lei Orçamentária Anual - LOA, o crédito orçamentário representa o montante mensal efetivamente liberado pelo Poder Executivo para o Ministério Público.<br>
            <b> (e) </b> Receitas próprias - São todos e quaisquer ingressos financeiros recebidos por outras fontes que não o crédito orçamentário do Poder Executivo (exemplo: arrecadação de inscrições em concurso público, alienação de bens imóveis, alugueis, entre outros). Esses devem ser descritos e detalhados mesmo que não constem da Lei Orçamentária Anual. Cada fonte diferente de arrecadação deverá ser detalhada em linha específica. Não devem ser confundidas com receitas extraorçamentárias (compensatórias e temporárias).<br>
            <b> (f) </b> Fonte da Informação -  Assessoria de Planejamento.<br>
        </div>
    </div>
  </div>

  <div class="col-sm-4" style="margin-top:4px; margin-bottom:1px;">
    <div class="card" >
      <div class="card-body">
      <style type="text/css">
          h3{text-align: center; font-size:28px;}
      </style>
      <h3>Receitas Próprias - Anos {{Ano-1}} e {{Ano}}</h3>
      <canvas id="chart" width="700" height="477"></canvas>   
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
      var anoatual = JSON.parse('{{lista_ano_atual}}');
      var anoanterior = JSON.parse('{{lista_ano_anterior}}');
      var chartOne = {
        type: 'bar',
        data: {
          labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
          fontSize: "30",
          datasets: [
            {
              label: '{{Ano-1}}',
              fontSize: "18",
              backgroundColor: "#a91a27",
              data: anoanterior,
              fill: false,
            },
            {
              label: '{{Ano}}',
              fontSize: "18",
              backgroundColor: "#1e325c",
              data: anoatual,
              fill: false,
            },
          ],
        },
        options: {
          responsive: true,
          tooltips: {
            mode: 'nearest',
            interesect: true,
            callbacks: {
                  label: function(tooltipItem, data) {
                        return tooltipItem.yLabel.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
                  }
            }
          },
          scales: {
            xAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Mês',
                  fontSize: "15"
                },
              },
            ],
            yAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Valor(Milhões)',
                  fontSize: "15"
                },
              },
            ],
          },
        },
      };
      var ctxOne = document.getElementById('chart').getContext('2d');
      new Chart(ctxOne, chartOne);
    </script>
      </div>
    </div>
  </div>
</div>

      <div class="card" style="margin-left: 5px;">
        <div class="card-header" style="font-size:18px;">
          <b>FUNDAMENTO LEGAL</b>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0" style="font-size:16px;">
            <p>Lei Complementar nº 101/2000, art. 48-A, II; Lei nº 4.320/64 arts. 2°, 3°, 35, I, e 57; Lei nº 12.527/2011 art. 8°, §1°, II; Resolução CNMP nº 86/2012, art. 5º, inciso I, alínea “a”; Resolução CNMP nº 74/2011, anexo I, item III.</p>
          </blockquote>
        </div>
      </div>
</p>
{% endblock %}
