{% extends 'header.html' %}
{% block content %}

<div class="container">
    <style type="text/css">
        h2{text-align: center;
           font-size: 30px;}
    </style>
    <h2><br>{{titles}}</br></h2>
    <!--Formulário-->
    <form method="POST" action="">
        <div class="input-group" style="padding: 30px; width: 50%; margin: 0 auto">
          <div class="input-group">
            {{ form.csrf_token }}
            {{ form.mes(class_="custom-select")}}<div class="input-group-append">
            {{ form.ano(class_="custom-select")}}<div class="input-group-append">
             <button class="btn btn-primary" type="submit" style="margin-left: 15px; border:1px solid #191970; border-radius:4px;">Buscar</button>
              <button type="button" class="btn btn-link">   </button>
          </div>
          </div>
            <a><input class="btn btn-danger" type="reset" value="Limpar Filtros" onClick="limpa()" style="border:1px solid #B22222; border-radius:4px;"></a>
          </div>
        </div>
    </form>
</div>
<!--Tabela-->
{{ pagination.info }}
{{ pagination.links }}
<div class="table table-sm table-responsive table table-striped">
    <table class="table table-hover">
        {{ tables|safe }}
    </table>
</div>
{{ pagination.links }}

<p>
  <div class="row">
    <div class="col-sm" style="margin:5px 0px 0px 5px; padding-right:0px;">
      <div class="card">
        <style type="text/css">
          div.card-body{text-align: justify;}
        </style>
        <div class="card-body" style="padding-bottom: 115px; padding-top: 115px;">
            <b> (a) </b> Suprido - Nome do titular do cartão corporativo ou do recebedor do suprimento de fundos, que tenha efetuado compras no mês de referência.<br>
            <b> (b) </b> CPF - Número do CPF do suprido.<br>
            <b> (c) </b> Período de Aplicação - Data estabelecida para que o suprido utilize os recursos a ele disponibilizados. Deverá ser informada no formato dd/mm/aaaa.<br>
            <b> (d) </b> Aprovação de Contas - Opções: “sim”, “não” ou “em análise”.<br>
            <b> (e) </b> Data - Data da aquisição do bem ou serviço.<br>
            <b> (f) </b> Nome - Nome do favorecido pelo pagamento.(g) CNPJ/CPF - Número do CNPJ ou do CPF do favorecido pelo pagamento.<br>
            <b> (g) </b> CNPJ/CPF - Número do CNPJ ou do CPF do favorecido pelo pagamento.<br>
            <b> (h) </b> Motivo - Resumir o objeto da aquisição (exemplo: aquisição de 5 parafusos para fixação de pias).<br>
            <b> (i) </b> Valor Pago - Valor da aquisição do material ou serviço.<br>
          </div>
        </div>
      </div>

      <div class="col-sm-4" style="margin-top:4px; margin-bottom:1px;">
        <div class="card" >
          <div class="card-body">
          <style type="text/css">
              h3{text-align: center; font-size:24px;}
          </style>
          <h3>Totais de Despesas com Cartão Corporativo e Suprimento de Fundos - Anos {{Ano-1}} e {{Ano}}</h3>
          <canvas id="chart" width="700" height="477"></canvas>   
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>
          var anoatual = JSON.parse('{{lista_ano_atual}}');
          var anoanterior = JSON.parse('{{lista_ano_anterior}}');
          var chartOne = {
            type: 'bar',
            data: {
              labels: ["2019", "2020"],
              fontSize: "30",
              datasets: [
                {
                  label: 'Ano Atual',
                  fontSize: "18",
                  backgroundColor: "#1e325c",
                  data: anoatual,
                  fill: false,
                },
                {
                  label: 'Ano Anterior',
                  fontSize: "18",
                  backgroundColor: "#a91a27",
                  data: anoanterior,
                  fill: false,
                },
              ],
            },
            options: {
              responsive: true,
              tooltips: {
                mode: 'nearest',
                interesect: true,
              },
              scales: {
                xAxes: [
                  {
                    display: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'Ano',
                      fontSize: "15"
                    },
                  },
                ],
                yAxes: [
                  {
                    display: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'Valor',
                      fontSize: "15"
                    },
                  },
                ],
              },
            },
          };
          var ctxOne = document.getElementById('chart').getContext('2d');
          new Chart(ctxOne, chartOne);
        </script>
          </div>
        </div>
      </div>
    </div>

      <div class="card">
        <div class="card-header" style="font-size:18px;">
          <b>FUNDAMENTO LEGAL</b>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0" style="font-size:16px;">
            <p>Lei Complementar nº 101/2000, art. 48-A, I, e Lei nº 12.527, art. 8°, §1°, III; Resolução CNMP nº 86/2012, art. 5º, inciso I, alínea “e”.</p>
          </blockquote>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
           Fonte da informação: Comissão de Controle Interno 
        </div>
      </div>
</p>

{% endblock %}