{% extends 'header.html' %}
{% block content %}

<div class="container">
    <style type="text/css">
       h2{text-align: center; font-size: 30px;}
    </style>
    <h2><br>{{titles}}</br></h2>
    <!--Formulário-->
    <form method="POST" action="">
        <div class="input-group" style="padding: 30px; width: 50%; margin: 0 auto">
          <div class="input-group">
            {{ form.csrf_token }}
            {{ form.mes(class_="custom-select")}}<div class="input-group-append">
            {{ form.ano(class_="custom-select")}}<div class="input-group-append">
            <button class="btn btn-primary" type="submit" style="margin-left: 15px; border:1px solid #191970; border-radius:4px;">Buscar</button>
              <button type="button" class="btn btn-link">   </button>
          </div>
          </div>
            <a><input class="btn btn-danger" type="reset" value="Limpar Filtros" onClick="limpa()" style="border:1px solid #B22222; border-radius:4px;"></a>
          </div>
        </div>
    </form>
</div>
<!--Tabela-->
{{ pagination.info }}
{{ pagination.links }}
<div class="table table-sm table-responsive table table-striped">
    <table class="table table-hover">
        {{ tables|safe }}
    </table>
</div>
{{ pagination.links }}
  
      <div class="card">
        <div class="card-header" style="font-size:18px;">
          <b>NOTA EXPLICATIVA</b>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0" style="font-size:16px;">
            <p><li>A coluna "Salário" representa o valor que, contratualmente, o Ministério Público paga às empresas terceirizadas a título de remuneração pelo posto de trabalho (funcionário), nele incluídos o salário da categoria funcional (estabelecido em convenção coletiva), encargos patronais, previdenciários, outros tributos, lucro e quaisquer outros valores relacionado à prestação do serviço.</li><br>
               <li>No "Salário" dos Auxiliares de Serviços gerais estão incluídos os valores de insumos necessários a limpeza.</li><br>
               </p>
          </blockquote>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          Fonte da informação: Departamento Obras e Manutenção
        </div>
      </div>

{% endblock %}


