{% extends 'header.html' %}
{% block content %}

<div class="container">
    <style type="text/css">
        h2{text-align: center; font-size: 30px;}
    </style>
    <h2><br>{{titles}}</br></h2>
    <!--Formulário-->
    <form method="POST" action="">
        <div class="input-group" style="padding: 30px; width: 100%; margin: 0 auto">
          <div class="input-group">
            {{ form.csrf_token }}
            {{ form.mes(class_="custom-select")}}<div class="input-group-append">
            {{ form.ano(class_="custom-select")}}<div class="input-group-append">
                </div>
                </div>
          </div>
            <input class="form-control" type="text" name="N"  placeholder="Nº">  <div class="input-group-append">
            <input class="form-control" type="text" name="Contratado"  placeholder="Contratado">  <div class="input-group-append">
            <input class="form-control" type="text" name="CNPJ_CPF"  placeholder="CNPJ/CPF">  <div class="input-group-append">
                </div>
                </div>
                </div>
            <input class="form-control" type="text" name="Situacao"  placeholder="Situação">  <div class="input-group-append">
            <button class="btn btn-primary" type="submit" style="margin-left: 15px; border:1px solid #191970; border-radius:4px;">Buscar</button>
                <button type="button" class="btn btn-link">   </button>
            </div>
              <a><input class="btn btn-danger" type="reset" value="Limpar Filtros" onClick="limpa()" style="border:1px solid #B22222; border-radius:4px;"></a>
        </div>
    </form>
</div>
<!--Tabela-->
{{ pagination.info }}
{{ pagination.links }}
<div class="table table-sm table-responsive table table-striped">
    <table class="table table-hover">
        {{ tables|safe }}
    </table>
</div>
{{ pagination.links }}

    <div class="card">
        <style type="text/css">
          div.card-body{text-align: justify;}
        </style>
        <div class="card-body">
            <b> (a) </b> Nº - Informar o número do termo de contrato ou nota de empenho, quando esta o substituir.<br>
            <b> (b) </b> Objeto - Descrição do objeto do contrato.<br>
            <b> (c) </b> Data da Publicação - Data de publicação nos meios de informações devidos (exemplo: Diário Oficial, jornais de grande circulação).<br>
            <b> (d) </b> Nº do Edital - Número do edital do processo licitatório relacionado. Informar se houve “dispensa” ou “inexigibilidade”.<br>
            <b> (e) </b> Vigência (Início) - Data de início da vigência do contrato no formato dd/mm/aaaa.<br>
            <b> (e') </b> Vigência (Término) - Data de término da vigência do contrato no formato dd/mm/aaaa.<br>
            <b> (f) </b> Situação - Situação do contrato, indicando se ativo, concluído ou rescindido.<br>
            <b> (g) </b> Item Fornecido - Descrição do(s) item(ns) a ser(em) atendido(s) pelo contrato. Excetuamse os materiais de consumo.<br>
            <b> (h) </b> Unidade de Medida - Unidade de medida do(s) item(ens) a ser(em) fornecido(s) (exemplo: m, m², l, gr, kg, un).<br>
            <b> (i) </b> Valor Unitário - Valor unitário do(s) item(ens) a ser(em) fornecido(s).<br>
            <b> (j) </b> Quantidade - Quantidade do(s) item(ns) a ser(em) fornecido(s).<br>
            <b> (k) </b> Valor Total do Item - Valor total de cada item, de acordo com a fórmula (i) x (j).<br>
            <b> (l) </b> Valor Total do Contrato - Valor total do contrato com o somatório dos totais dos itens presentes no contrato.<br>
            <b> (m) </b> Contratado - Nome da empresa ou da pessoa física contratada.<br>
            <b> (n) </b> CNPJ/CPF - Número do CNPJ ou do CPF da empresa ou pessoa física contratada.<br>
            <b> (o) </b> Sócios - Nome e CPF dos três principais integrantes de seu quadro societário, assim compreendidos aqueles que detenham maior parcela das cotas societárias ou o poder de gestão da sociedade.<br>
            <b> (p) </b> Termo Aditivo - Informar se há termo aditivo ao contrato, indicando se “sim” ou “não”.<br>
           
        </div>
    </div>

      <div class="card">
        <div class="card-header" style="font-size:18px;">
          <b>FUNDAMENTO LEGAL</b>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0" style="font-size:16px;">
            <p>Lei Complementar nº 101/2000, art. 48-A, I, e Lei nº 12.527, art. 8°, §1°, III e IV; Resolução CNMP n° 86/2012, art. 5°, inciso II, alíneas “e” a “j” e “m”.</p>
          </blockquote>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          Fonte da informação: Atividade de Licitações e Contratos
        </div>
      </div>

{% endblock %}
