{% extends 'header.html' %}
{% block content %}

<div class="container">
    <style type="text/css">
        h2{text-align: center;}
    </style>
    <h2><br>{{titles}}</br></h2>
    <!--Formulário-->
    <div class="card">
        <div class="card-body">
            <b> Ouvidor: Antonio Eduardo Barleta de Almeida  (Procurador de Justiça) </b><br>
            <b> Endereço: </b> Rua João Diogo, n.º 84 - Cidade Velha - 66015-160.<br>
            <b> E-mail: </b> ouvidoria@mppa.mp.br<br>
            <b> Telefone: </b> (91) 4006-3654<br>
        </div>
      </div>
    <!--Formulário-->
    <form method="POST" action="">
        <div class="input-group" style="padding: 30px; width: 50%; margin: 0 auto">
          <div class="input-group">
            {{ form.csrf_token }}
            {{ form.mes(class_="custom-select")}}<div class="input-group-append">
            {{ form.ano(class_="custom-select")}}<div class="input-group-append">
             <button class="btn btn-primary" type="submit" style="margin-left: 15px; border:1px solid #191970; border-radius:4px;">Buscar</button>
              <button type="button" class="btn btn-link">   </button>
          </div>
          </div>
            <a><input class="btn btn-danger" type="reset" value="Limpar Filtros" onClick="limpa()" style="border:1px solid #B22222; border-radius:4px;"></a>
          </div>
        </div>
    </form>
</div>
<!--Tabela-->
{{ pagination.info }}
{{ pagination.links }}
<div class="table table-sm table-responsive table table-striped">
    <table class="table table-hover">
        {{ tables|safe }}
    </table>
</div>


{{ pagination.links }}

      <style type="text/css">
          h2{text-align: center; font-size:28px;}
      </style>
      <h2> Ouvidoria em Movimento </h2>

<div class="row">
<p>
<div class="col-sm-6" style="margin-top:4px; margin-bottom:1px;">
    <div class="card" >
      <div class="card-body">
      <style type="text/css">
          h2{text-align: center; font-size:28px;}
      </style>
      <canvas id="chart_01" width="700" height="477"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
     <a id="download01"
     download="Manifestacao_Categoria.jpg"
     href="" title="Download do Gráfico">
     <button type="button" class="btn btn-outline-primary">Download do Gráfico</button>
     </a>
     <!-- https://canvasjs.com/javascript-charts/ -->
    <script type="text/javascript">
      var cat_quantidade = {{ lista_cat_quantidade | tojson }}
      var categoria = {{ lista_categoria | tojson }}
      var chartOne = {
        type: 'bar',
        data: {
          labels: categoria,
          datasets: [
            {
              label: 'Categorias',
              fontStyle: 'normal',
              backgroundColor: "#1e325c",
              data: cat_quantidade,
              fill: false,
            },
          ],
        },
        options: {
		title:{
		display: true,
		fontSize: '20',
		fontStyle: 'normal',
		text: 'Manifestações por Categoria',
		fontColor: 'black'
		},
          responsive: true,
          tooltips: {
            mode: 'nearest',
            interesect: true,
          },
          scales: {
            xAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Categoria',
                  fontSize: "15",
                  fontColor: 'black'
                },
              },
            ],
            yAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Quantidade',
                  fontSize: "15",
                  fontColor: 'black'
                },
              },
            ],
          },
        },
      };
      var ctxOne = document.getElementById('chart_01').getContext('2d');
      new Chart(ctxOne, chartOne);
  //Download Imagem
  document.getElementById("download01").addEventListener('click', function(){
  var url_base64jp = document.getElementById("chart_01").toDataURL("image/jpg");
  var a =  document.getElementById("download01");
  a.href = url_base64jp;
});
        </script>
      </div>
    </div>
  </div>
</p>

</p>
<div class="col-sm-6" style="margin-top:4px; margin-bottom:1px;">
    <div class="card" >
      <div class="card-body">
      <style type="text/css">
          h2{text-align: center; font-size:28px;}
      </style>
<canvas id="Chart_02"width="700" height="477"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <a id="download_2"
        download="Manifestacao_Meio_Acesso.jpg"
        href="" title="Download do Gráfico">
     <button type="button" class="btn btn-outline-danger">Download do Gráfico</button>
     </a>
    <script>
      var ori_quantidade = {{ lista_ori_quantidade | tojson }}
      var origem = {{ lista_origem | tojson }}
    var ctx = document.getElementById('Chart_02').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
        labels: origem,
        datasets: [{
            label: 'Meio de Acesso',
            backgroundColor: "#a91a27",

            data: ori_quantidade
        }]
        },
        options: {
        title:{
		display: true,
		fontSize: '20',
		fontStyle: 'normal',
		text: 'Manifestações por Meios de Acesso',
		fontColor: 'black'
		},
             responsive: true,
          tooltips: {
            mode: 'nearest',
            interesect: true,
          },
          scales: {
            xAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Meio de Acesso',
                  fontSize: "15"
                },
              },
            ],
            yAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Quantidade',
                  fontSize: "15"
                },
              },
            ],
          },
        },
});
  //Download Image
  document.getElementById("download_2").addEventListener('click', function(){
  var url_base64jp = document.getElementById("Chart_02").toDataURL("image/jpg");
  var a =  document.getElementById("download_2");
  a.href = url_base64jp;
  });
        </script>
      </div>
    </div>
  </div>
</p>
</div>

<div class="row">
<p>
<div class="col-sm-6" style="margin-top:4px; margin-bottom:1px;">
    <div class="card" >
      <div class="card-body">
      <style type="text/css">
          h2{text-align: center; font-size:28px;}
      </style>
<canvas id="Chart_03" width="700" height="477"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <a id="download_3"
        download="Situacao_Noticia_Fato.jpg"
        href="" title="Download do Gráfico">
     <button type="button" class="btn btn-outline-primary">Download do Gráfico</button>
     </a>
    <script>
      var sta_quantidade = {{ lista_sta_quantidade | tojson }}
      var Status = {{ lista_status | tojson }}
var ctx = document.getElementById('Chart_03').getContext('2d');
var chart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: Status,
        datasets: [{
            label: 'Status',
            backgroundColor: ['#1e325c', '#687090', '#b2b5c6', '#d8d9e2', '#ffffff'],
            borderColor:  "#1e325c",
            data: sta_quantidade
        }]
    },
    options: {
        	title:{
		display: true,
		fontSize: '20',
		fontStyle: 'normal',
		text: 'Situação de Notícia de Fato',
		fontColor: 'black'
		},
    }
});
  //Download Image
  document.getElementById("download_3").addEventListener('click', function(){
  var url_base64jp = document.getElementById("Chart_03").toDataURL("image/jpg");
  var a =  document.getElementById("download_3");
  a.href = url_base64jp;
  });
</script>
      </div>
    </div>
  </div>
</p>



<p>
<div class="col-sm-6" style="margin-top:4px; margin-bottom:1px;">
    <div class="card" >
      <div class="card-body">
      <style type="text/css">
          h2{text-align: center; font-size:28px;}
      </style>
<canvas id="Chart_04" width="700" height="477"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <a id="download_04"
        download="Manifestacao_Assunto.jpg"
        href="" title="Download do Gráfico">
     <button type="button" class="btn btn-outline-danger">Download do Gráfico</button>
     </a>
    <script>
      var ass_quantidade = {{ lista_ass_quantidade | tojson }}
      var assunto = {{ lista_assunto | tojson }}
var ctx = document.getElementById('Chart_04').getContext('2d');
var chart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: assunto,
        datasets: [{
            label: 'Assunto',
            backgroundColor: "#a91a27",
            borderColor: 'rgb(255, 99, 132)',
            data: ass_quantidade
        }]
    },
    options: {
    	title:{
		display: true,
		fontSize: '20',
		fontStyle: 'normal',
		text: 'Manifestações por Assunto',
		fontColor: 'black'
		},
             responsive: true,
          tooltips: {
            mode: 'nearest',
            interesect: true,
          },
          scales: {
            xAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Quantidade',
                  fontSize: "15"
                },
              },
            ],
            yAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Assunto',
                  fontSize: "15"
                },
              },
            ],
          },
        }
    }
);
  //Download Image
  document.getElementById("download_04").addEventListener('click', function(){
  var url_base64jp = document.getElementById("Chart_04").toDataURL("image/jpg");
  var a =  document.getElementById("download_04");
  a.href = url_base64jp;
  });
        </script>
      </div>
    </div>
  </div>
</p>
</div>

<div class="row">

<p>
<div class="col-sm-6" style="margin-top:4px; margin-bottom:1px;">
    <div class="card" >
      <div class="card-body">
      <style type="text/css">
          h2{text-align: center; font-size:28px;}
      </style>
      <canvas id="chart_05" width="700" height="477"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
     <a id="download_05"
     download="Manifestacao_Municipio.jpg"
     href="" title="Download do Gráfico">
     <button type="button" class="btn btn-outline-primary">Download do Gráfico</button>
     </a>
    <script type="text/javascript">
      var mun_quantidade = {{ lista_mun_quantidade | tojson }}
      var municipio = {{ lista_municipio | tojson }}
      var chartOne = {
        type: 'line',
        data: {
          labels: municipio,
          datasets: [
            {
              label: 'Categorias',
              fontStyle: 'normal',
              backgroundColor: "#1e325c",
              data: mun_quantidade,
              fill: false,
            },
          ],
        },
        options: {
		title:{
		display: true,
		fontSize: '20',
		fontStyle: 'normal',
		text: 'Manifestações por Município',
		fontColor: 'black'
		},
          responsive: true,
          tooltips: {
            mode: 'nearest',
            interesect: true,
          },
          scales: {
            xAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Municipio',
                  fontSize: "15",
                  fontColor: 'black'
                },
              },
            ],
            yAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Quantidade',
                  fontSize: "15",
                  fontColor: 'black'
                },
              },
            ],
          },
        },
      };
      var ctxOne = document.getElementById('chart_05').getContext('2d');
      new Chart(ctxOne, chartOne);
  //Download Imagem
  document.getElementById("download_05").addEventListener('click', function(){
  var url_base64jp = document.getElementById("chart_05").toDataURL("image/jpg");
  var a =  document.getElementById("download_05");
  a.href = url_base64jp;
});
        </script>
      </div>
    </div>
  </div>
</p>

<p>
<div class="col-sm-6" style="margin-top:4px; margin-bottom:1px;">
    <div class="card" >
      <div class="card-body">
      <style type="text/css">
          h2{text-align: center; font-size:28px;}
      </style>
<canvas id="Chart_06" width="700" height="477"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <a id="download_6"
        download="Genero_Usuario.jpg"
        href="" title="Download do Gráfico">
     <button type="button" class="btn btn-outline-danger">Download do Gráfico</button>
     </a>
    <script>
      var sex_quantidade = {{ lista_sex_quantidade | tojson }}
      var sexo = {{ lista_sexo | tojson }}
var ctx = document.getElementById('Chart_06').getContext('2d');
var chart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: sexo,
        datasets: [{
            label: 'Status',
            backgroundColor: ['#a91a27', '#ecb7b1', '#ffffff'],
            borderColor:  "#a91a27",
            data: sex_quantidade
        }]
    },
    options: {
        title:{
		display: true,
		fontSize: '20',
		fontStyle: 'normal',
		text: 'Gêneros dos Usuários',
		fontColor: 'black'
		},
    }
});
  //Download Image
  document.getElementById("download_6").addEventListener('click', function(){
  var url_base64jp = document.getElementById("Chart_06").toDataURL("image/jpg");
  var a =  document.getElementById("download_6");
  a.href = url_base64jp;
  });
        </script>
      </div>
    </div>
  </div>
</p>
</div>

<div class="row">
<p>
<div class="col-sm-6" style="margin-top:4px; margin-bottom:1px;">
    <div class="card" >
      <div class="card-body">
      <style type="text/css">
          h2{text-align: center; font-size:28px;}
      </style>
<canvas id="Chart_07" width="700" height="477"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
     <a id="download_07"
        download="Nivel_Escolaridade_Usuario.jpg"
        href="" title="Download do Gráfico">
      <button type="button" class="btn btn-outline-primary">Download do Gráfico</button>
     </a>
    <script>
      var esc_quantidade = {{ lista_esc_quantidade | tojson }}
      var escolaridade = {{ lista_escolaridade | tojson }}
    var ctx = document.getElementById('Chart_07').getContext('2d');
    var chart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: escolaridade,
        datasets: [{
            label: 'Escolaridade',
            backgroundColor: "#1e325c",
            borderColor: 'rgb(255, 99, 132)',
            data: esc_quantidade
        }]
    },
    options: {
        title:{
		display: true,
		fontSize: '20',
		fontStyle: 'normal',
		text: 'Nível de Escolaridade do Usuário',
		fontColor: 'black'
		},
        responsive: true,
          tooltips: {
            mode: 'nearest',
            interesect: true,
          },
          scales: {
            xAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Quantidade',
                  fontSize: "15"
                },
              },
            ],
            yAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Escolaridade',
                  fontSize: "15"
                },
              },
            ],
          },
        }
    }
);
  //Download Image
  document.getElementById("download_07").addEventListener('click', function(){
  var url_base64jp = document.getElementById("Chart_07").toDataURL("image/jpg");
  var a =  document.getElementById("download_07");
  a.href = url_base64jp;
});
        </script>
      </div>
    </div>
  </div>
</p>

<p>
<div class="col-sm-6" style="margin-top:4px; margin-bottom:1px;">
    <div class="card" >
      <div class="card-body">
      <style type="text/css">
          h2{text-align: center; font-size:28px;}
      </style>
      <canvas id="Chart_08" width="700" height="477"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
     <a id="download_8"
        download="Manifestacao_Mes.jpg"
        href="" title="Download do Gráfico">
     <button type="button" class="btn btn-outline-danger">Download do Gráfico</button>
     </a>
    <script>
      var ano_max_qtde = {{ lista_ano_max_qtde | tojson }}
      var ano_ant_qtde = {{ lista_ano_ant_qtde | tojson }}
      var chartOne = {
        type: 'bar',
        data: {
          labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
          fontSize: "30",
          datasets: [
            {
              label: '{{ano_max-1}}',
              fontSize: "30",
              backgroundColor: "#a91a27",
              data: ano_ant_qtde,
              fill: false,
            },
            {
              label: '{{ano_max}}',
              fontSize: "30",
              backgroundColor: "#1e325c",
              data: ano_max_qtde,
              fill: false,
            },
          ],
        },
        options: {
        title:{
		display: true,
		fontSize: '20',
		fontStyle: 'normal',
		text: 'Quantidade de Manifestações - Anos {{ano_max-1}} e {{ano_max}}',
		fontColor: 'black'
		},
          responsive: true,
          tooltips: {
            mode: 'nearest',
            interesect: true,
          },
          scales: {
            xAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Mês',
                  fontSize: "15"
                },
              },
            ],
            yAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Quantidade',
                  fontSize: "15"
                },
              },
            ],
          },
        },
      };
      var ctxOne = document.getElementById('Chart_08').getContext('2d');
      new Chart(ctxOne, chartOne);
  //Download Image
  document.getElementById("download_8").addEventListener('click', function(){
  var url_base64jp = document.getElementById("Chart_08").toDataURL("image/jpg");
  var a =  document.getElementById("download_8");
  a.href = url_base64jp;
});
</script>
      </div>
    </div>
  </div>
</div>
</p>

</div>

{% endblock %}