{% extends 'header.html' %}
{% block content %}

<div class="container">
    <style type="text/css">
        h2{text-align: center; font-size: 30px;}
    </style>
    <h2><br>{{titles}}</br></h2>
    <!--Formulário-->
    <form method="POST" action="">
        <div class="input-group" style="padding: 30px; width: 100%; margin: 0 auto">
          <div class="input-group">
            {{ form.csrf_token }}
            {{ form.mes(class_="custom-select")}}<div class="input-group-append">
            {{ form.ano(class_="custom-select")}}<div class="input-group-append">
                </div>
                </div>
          </div>
            <input class="form-control" type="text" name="Dispensa"  placeholder="Dispensa /Inexigibilidade de Licitação">  <div class="input-group-append">
            <input class="form-control" type="text" name="Contrato"  placeholder="Nº do Contrato">  <div class="input-group-append">
            <input class="form-control" type="text" name="CNPJ_CPF"  placeholder="CNPJ/CPF">  <div class="input-group-append">
                </div>
                </div>
                </div>
            <input class="form-control" type="text" name="empenho"  placeholder="Nº do Empenho">  <div class="input-group-append">
            <button class="btn btn-primary" type="submit" style="margin-left: 15px; border:1px solid #191970; border-radius:4px;">Buscar</button>
                <button type="button" class="btn btn-link">   </button>
            </div>
              <a><input class="btn btn-danger" type="reset" value="Limpar Filtros" onClick="limpa()" style="border:1px solid #B22222; border-radius:4px;"></a>
        </div>
    </form>
</div>
<!--Tabela-->
{{ pagination.info }}
{{ pagination.links }}
<div class="table table-sm table-responsive table table-striped">
    <table class="table table-hover">
        {{ tables|safe }}
    </table>
</div>
{{ pagination.links }}

<p>
  <div class="row">
    <div class="col-sm" style="margin:5px 0px 0px 5px; padding-right:0px;">
      <div class="card">
        <style type="text/css">
          div.card-body{text-align: justify;}
        </style>
        <div class="card-body" style="padding-bottom: 50px; padding-top: 45px;">
            <b> (a) </b> Nº - Informar o número do convênio.<br>
            <b> (b) </b> Tipo de Instrumento - Tipo de instrumento utilizado, indicando se convênio, termo de cooperação, contrato de repasse ou outros instrumentos.<br>
            <b> (c) </b> Objeto - Descrição do objeto do convênio.<br>
            <b> (d) </b> Data da Publicação - Data de publicação nos meios de informações devidos (exemplo: Diário Oficial, jornais de grande circulação).<br>
            <b> (e) </b> Nº Processo - Número do processo de convênio relacionado.<br>
            <b> (f) </b> Contrapartida - Valor da contrapartida.<br>
            <b> (g) </b> Situação - Situação do convênio, indicando se ativo, concluído, rescindido ou denunciado.<br>
            <b> (h) </b> Convenente - Nome do convenente.<br>
            <b> (i) </b> CNPJ/CPF - Número do CNPJ ou do CPF do convenente.<br>
            <b> (j) </b> Representantes - Nome dos representante(s) do(s) convenente(s).<br>
            <b> (k) </b> Valor do Repasse - Valor financeiro do repasse à instituição.<br>
            <b> (l) </b> Vigência (Início) - Data de início da vigência do convênio no formato dd/mm/aaaa.<br>
            <b> (l') </b> Vigência (Término) - Data de término da vigência do convênio no formato dd/mm/aaaa.<br>
            <b> (m) </b> Prestação de Contas - Situação da regularidade da prestação de contas, indicando se “regular”, “irregular” ou “em análise”.<br>
            <b> (n) </b> Termo Aditivo - Informar se há termo aditivo ao contrato, indicando se “sim” ou “não”.<br>
          </div>
        </div>
      </div>
     
      <div class="col-sm-4" style="margin-top:4px; margin-bottom:1px;">
        <div class="card" >
          <div class="card-body">
          <style type="text/css">
              h3{text-align: center; font-size:28px;}
          </style>
          <h3>Convênios e Instrumentos Congêneres - Anos {{Ano-1}} e {{Ano}}</h3>
          <canvas id="chart" width="700" height="477"></canvas>   
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>
          var anoatual = JSON.parse('{{lista_ano_atual}}');
          var anoanterior = JSON.parse('{{lista_ano_anterior}}');
          var chartOne = {
            type: 'bar',
            data: {
              labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
              fontSize: "30",
              datasets: [
                {
                  label: 'Ano Anterior',
                  fontSize: "18",
                  backgroundColor: "#a91a27",
                  data: anoanterior,
                  fill: false,
                },
                {
                  label: 'Ano Atual',
                  fontSize: "18",
                  backgroundColor: "#1e325c",
                  data: anoatual,
                  fill: false,
                },
              ],
            },
            options: {
              responsive: true,
              tooltips: {
                mode: 'nearest',
                interesect: true,
              },
              scales: {
                xAxes: [
                  {
                    display: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'Mês',
                      fontSize: "15"
                    },
                  },
                ],
                yAxes: [
                  {
                    display: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'Quantidade',
                      fontSize: "15"
                    },
                  },
                ],
              },
            },
          };
          var ctxOne = document.getElementById('chart').getContext('2d');
          new Chart(ctxOne, chartOne);
        </script>
          </div>
        </div>
      </div>
    </div>

      <div class="card">
        <div class="card-header" style="font-size:18px;">
          <b>FUNDAMENTO LEGAL</b>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0" style="font-size:16px;">
            <p>Lei Complementar nº 101/2000, art. 48-A, I, e Lei nº 12.527, art. 8°, §1°, III; Resolução CNMP n° 86/2012, art. 5°, inciso II.</p>
          </blockquote>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
           Fonte da informação: Atividade de Licitações e Contratos.
        </div>
      </div>
</p>

{% endblock %}
