{% extends 'header.html' %}
{% block content %}
<style type="text/css">
  h2{text-align: center; font-size: 30px;}
</style>
<h2> <br> Plano de Carreira Membros <br/> </h2>
<div class="card-body">

          <blockquote class="blockquote mb-0">

<div><a class="dropdown-item" href="http://www.planalto.gov.br/ccivil_03/leis/l8625.htm"
       target="_blank" style="padding: 15px 0px";><li>Lei nº 8.625/1993 de 12 de fevereiro de 1993.</li></a></div>

<div><a class="dropdown-item" href="http://www.planalto.gov.br/ccivil_03/leis/lcp/lcp75.htm"
       target="_blank" style="padding: 15px 0px";><li>Lei Complementar nº 75/1993 de 20 de maio de 1993.</li></a></div>

<div><a class="dropdown-item" href="/static/img/LEI COMPLEMENTAR NÂº 057, DE 6 DE JULHO DE 2006.pdf"
    style="padding: 15px 0px" download="LimitedeGastoscomPessoas_1quadrimestre_2014.xlsx"><li>Lei Complementar nº 57/2006 de 6 de julho de 2006.</li></a></div> <br>
        </blockquote>
    </div>
<style type="text/css">
    h2{text-align: center;}
</style>
<h2>  Plano de Carreira Servidores </h2>
<div class="card-body">
    <blockquote class="blockquote mb-0">

<div><a class="dropdown-item" href="/static/img/Resolucao 14_2003.pdf"
    style="padding: 15px 0px" download="LimitedeGastoscomPessoas_1quadrimestre_2014.xlsx"><li>Resolução nº 14/2003-MP/CPJ de 18 de novembro de 2003.</li></a></div> <br>

    </blockquote>
</div>
<div class="card">
    <div class="card-header" style="font-size:18px;">
      <b>FUNDAMENTO LEGAL</b>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0" style="font-size:16px;">
        <p>Resolução CNMP nº 86/2012, art. 5º, inciso III, alínea “g”.</p>
      </blockquote>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
       Fonte da informação: Departamento de Recursos Humanos
    </div>
  </div>

{% endblock %}
