{% extends 'header.html' %}
{% block content %}

<div class="container">
  <style type="text/css">
      h2{text-align: center;}
      .card-header{font-size: large;}
      p{font-size: medium;}
  </style>
  <h2><br>{{titles}}</br></h2>
  <!--Formulário-->

<div class="container">
<div class="card">
        <div class="card-header">
          <b>Orientações para o Acesso de Informações</b>
        </div>
        <div class="card-body">
          <style type="text/css">
            blockquote.blockquote{text-align: justify;}
          </style>
          <blockquote class="blockquote mb-0">
            <p>Os pedidos de acesso à informação no âmbito do Ministério Público do Estado do Pará obedecem às disposições contidas na Lei de Acesso à Informação (Lei n° 12.527/2011), na Resolução n° 89/2012-CNMP e na Portaria n° 4478/2012-MP/PGJ.<br>
O Serviço de Informação ao Cidadão (SIC) será operacionalizado pela Ouvidoria do Ministério Público do Estado do Pará, sendo o Ouvidor a autoridade responsável pelas atividades descritas no art. 40, da Lei de Acesso à Informação. <br></p>
          </blockquote>
        </div>
      </div>

    <div class="card">
        <div class="card-header">
          <b> Objetivos do SIC: </b>
        </div>
        <div class="card-body">
          <style type="text/css">
            blockquote.blockquote{text-align: justify;}
          </style>
          <blockquote class="blockquote mb-0">
            <p> Atender e orientar o público quanto ao acesso á informação;<br>
Informar sobre a tramitação de documentos nas suas respectivas unidades;<br>
Protocolar documentos e requerimentos de acesso à informação. <br></p>
          </blockquote>
        </div>
      </div>

        <div class="card">
        <div class="card-header">
          <b> Formas de Solicitação: </b>
        </div>
        <div class="card-body">
          <style type="text/css">
            blockquote.blockquote{text-align: justify;}
          </style>
          <blockquote class="blockquote mb-0">
            <p> Diretamente na Ouvidoria, localizada no térreo do Edifício Sede do MP/PA, situado à Rua João Diogo, n° 100, bairro da Cidade Velha, em Belém/PA; <br>
Por meio de formulário eletrônico localizado no sítio do MP/PA ( www.mppa.mp.br ), no link abaixo: <br>
            www2.mppa.mp.br/sistemas/ouvidoria2/ouvidoria-client/index.php ou por correspondência eletrônica através do email: ouvidoria@mppa.mp.br <br></p>
          </blockquote>
        </div>
      </div>

        <div class="card">
        <div class="card-header">
          <b> Tramitação do Pedido: </b>
        </div>
        <div class="card-body">
          <style type="text/css">
            blockquote.blockquote{text-align: justify;}
          </style>
          <blockquote class="blockquote mb-0">
            <p> Os pedidos de acesso à informação são recebidos pela Ouvidoria Geral do Ministério Público, registrados em seu sistema eletrônico e, quando a informação estiver disponível, serão respondidos imediatamente. <br>
Não sendo possível conceder o acesso imediato, a Ouvidoria encaminhará imediatamente o pedido ao órgão ou autoridade responsável, que deve, no prazo máximo de 20 (vinte) dias, prorrogável por 10 (dez) dias mediante justificativa expressa, com a ciência do requerente: <br>
Comunicar data, local e modo para se realizar a consulta, efetuar a reprodução ou obter a certidão; <br>
Indicar as razões de fato ou de direito da recusa, total ou parcial, do acesso pretendido, ou: <br>
Comunicar que não possui a informação, indicar, se for de seu conhecimento, o órgão ou a entidade que a detém, ou, ainda, remeter o requerimento a esse órgão ou entidade, cientificando o interessado da remessa de seu pedido de informação. <br>
Em caso de remessa do pedido para outro órgão do Ministério Público, a Ouvidoria deverá monitorar a sua tramitação para que a resposta seja fornecida dentro do prazo estabelecido pela Lei de Acesso à Informação.. <br></p>
          </blockquote>
        </div>
      </div>

        <div class="card">
        <div class="card-header">
          <b> Prazo: </b>
        </div>
        <div class="card-body">
          <style type="text/css">
            blockquote.blockquote{text-align: justify;}
          </style>
          <blockquote class="blockquote mb-0">
            <p> O prazo para a apresentação de resposta aos pedidos de acesso à informação é de 20 (vinte) dias, prorrogável por mais 10 (dez) dias, mediante justificativa expressa. O requerente deve ser cientificado dessa prorrogação do prazo. <br>
Esse prazo é contado a partir da data do efetivo recebimento do pedido de acesso à informação.. <br></p>
          </blockquote>
        </div>
      </div>

        <div class="card">
        <div class="card-header">
          <b> Recurso: </b>
        </div>
        <div class="card-body">
          <style type="text/css">
            blockquote.blockquote{text-align: justify;}
          </style>
          <blockquote class="blockquote mb-0">
            <p> Em caso de negativa do pedido de acesso à informação, o interessado poderá recorrer dessa decisão no prazo de 10 (dez) dias, ao órgão hierarquicamente superior à autoridade que proferiu a decisão.. <br></p>
          </blockquote>
        </div>
      </div>
</div>
</div>
{% endblock %}
