{% extends 'header.html' %}
{% block content %}

<div class="container">
    <style type="text/css">
        h2{text-align: center; font-size: 30px;}
    </style>
    <h2><br>{{titles}}</br></h2>
    <!--Formulário-->


    <div class="card">
        <div class="card-body">
            <b> Ouvidor: Estevam Alves Sampaio Filho  (Procurador de Justiça) </b><br>
            <b> Endereço: </b> Rua João Diogo, n.º 84 - Cidade Velha - 66015-160.<br>
            <b> E-mail: </b> ouvidoria@mppa.mp.br<br>
            <b> Telefone: </b> (91) 4006-3654<br>
        </div>
      </div>

</div>

{% endblock %}
