{% extends 'header.html' %}
{% block content %}

<div class="container">
       <style type="text/css">
           h2{text-align: center;}
           a{font-size: medium;}
       </style>
       <h2><br>Legislação</br></h2>


       <div class="card">
              <div class="card-body">
                     <div><a class="dropdown-item" href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2011/lei/l12527.htm"
                            target="_blank" style="padding: 15px 0px";>LEI Nº 12.527, DE 18 DE NOVEMBRO DE 2011, dispõe sobre os procedimentos a serem observados pela União, Estados, Distrito Federal e Municípios, <br>com o fim de garantir o acesso a informações conforme prevê a Constituição Federal.</a></div>
                     
                     <div><a href="/static/img/Resolução_nº_89_Alterada_pela_Res._100.2013_e_115.2014.pdf"
                                                download="LimitedeGastoscomPessoas_1quadrimestre_2014.xlsx">RESOLUÇÃO Nº 89, DE 28 DE AGOSTO 2012, do CNMP. Regulamenta a Lei de Acesso à Informação no âmbito do Ministério Público da União e dos Estados e dá outras providências.</a></div><br>
                     
                     <div><a href="/static/img/Resoluo_n_86_Portal_Transparncia.pdf"
                                                download="LimitedeGastoscomPessoas_1quadrimestre_2014.xlsx">RESOLUÇÃO Nº 86, DE 21 DE MARÇO DE 2012, do CNMP. Dispõe sobre o “Portal da Transparência do Ministério Público”.</a></div> <br>
              </div>
            </div>

</div>

{% endblock %}
